*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}


.main{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/cocha.jpg) no-repeat;
  background-size: 100% 100%;
}

h1{/*TITLE OF CURRENT PAGE*/
  text-align: left;
  color: #f39d1a;
}
/*Here starts the code for style.css*/

.contact-form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;/*30px 40px*/
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{ /*SEND BUTTON*/
  display: inline-block;
  background: #9b59b6;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}
/**Here ends the code we have to transfer to style css*/

header{
  background: black;
  height: 80px;
  display: flex;
}

h1{/*TITLE OF CURRENT PAGE*/
  text-align: left;
  color: #f39d1a;
}

img{
  border-radius: 20px;
  margin: auto;
}



#logo{
  flex-grow: 1;
  object-fit: contain;
  object-position: left;
  height: 70px;
}


nav > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: black;
}

nav > ul > li {
  color: white;
  font-family: sans-serif;
  padding: 30px;
  transition: 0.8s all;
}

nav ul li:hover{
  background-color:#f39d1a;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

nav > ul > li:active, .active {
  background-color: #f39d1a;
}

#menu-button {
  display: none;
}

/*Footer starts here*/
.footer{
  background: black;/*#303036*/
  color: #d3d3d3;
  height: 400px;
  /*position: relative;*/
}

.footer .footer-content{/*outside borders of footer*/
  border: 1px solid white;
  height: 350px;
  display: flex;
}

.footer .footer-content h1, 
.footer .footer-content h2{/*Titles of the sections*/
  color: white;
  
}

.footer .footer-content .footer-section{/*lines Between the three sections vertically*/
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .about h1 span{ /*COLOR OF HALF OF THE LOGO*/
  color: #f39d1a;
}

.footer .footer-content .about .contact span{ /*Contact info footer*/
  display: block; 
  font-size: 1.1em;
  margin-bottom: 3px;

}

.footer-section ul{/*middle section (dots)*/
  color: white;
  padding: 20px;
}

.footer-section ul li a{/*letters*/
  color: white;
}

.footer-section ul li{/*separation between links*/
  margin-top: 20px;
}


.footer .footer-content .link a li{/*middle section for quick links*/
  margin-top: 20px;
  color: white;
}

.footer .footer-bottom{/*very bottom part*/
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  /*bottom: 0px;*/
  left: 0px;
  padding-top: 20px;
}
/*footer ends here*/

#menu-button {
  display: none;
  padding: 30px;
  align-self: stretch;
  justify-content: center;
}
@media (max-width: 1020px) {
  header {
    background-color: black;
    box-sizing: border-box;
    height: 80px;

    box-shadow: 0 -15px 10px 20px gray;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }

  #menu-button {
    display: flex;
  }

  nav {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
  }

  nav.open {
    display: flex;
  }

  nav > ul {
    flex-direction: column;
  }

  nav > ul > li {
    background-color: black;
    border-top: 1px solid white;
    color: white;
  }

  .contact-form{
    max-width: 500px;
    position: relative;
    
  }
        
    }

