*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}


.main{
  width: 100%;
  height: 100vh;
  background-color: lightblue; /*white*/
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/cocha.jpg) no-repeat;
  background-size: 100% 100%;
  
  
}

.content{/*INSIDE THE WHITE BOX AKA CONTENT*/
  max-width: 900px;
  margin: auto;
  padding: 150px 150px;
  /*background: white;*/
  border: 1px solid #555;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  border-radius: 8px;
  font-family: "Montserrat",sans-serif;
  color: white;
}


h1{/*TITLE OF CURRENT PAGE*/
  text-align: left;
  color: #f39d1a;
}

img{
  border-radius: 20px;
  margin: auto;
}

#logo{
  flex-grow: 1;
  object-fit: contain;
  object-position: left;
}

nav{
  width: 100%;
  height: 80px;
  background-color: #000;
  position: fixed;
  line-height: 80px;
  display: flex;
  left: 0;
  right: 0;
  object-position: right;
}

nav > ul{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.8s all;
}

nav ul li:hover{
  background-color:#f39d1a;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

/*Footer starts here*/
.footer{
  background: black;/*#303036*/
  color: #d3d3d3;
  height: 400px;
  position: relative;
  
}

.footer .footer-content{/*outside borders of footer*/
  border: 1px solid white;
  height: 350px;
  display: flex;
}

.footer .footer-content h1, 
.footer .footer-content h2{/*Titles of the sections*/
  color: white;
  
}

.footer .footer-content .footer-section{/*lines Between the three sections vertically*/
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .about h1 span{ /*COLOR OF HALF OF THE LOGO*/
  color: #f39d1a;
}

.footer .footer-content .about .contact span{ /*Contact info footer*/
  display: block; 
  font-size: 1.1em;
  margin-bottom: 3px;
  

}
.footer .footer-content .contact-form textarea{/*text area from footer*/
  width: 100%;
  margin-top: 20px;

}
.footer .footer-content .contact-form button{/*SEND button*/
  width: 100px;
  
}
textarea{
  height: 150px;/*200px*/
  width: 300px;/*250px*/
}

.footer .footer-content .link a li{/*middle section for quick links*/
  margin-top: 20px;
  color: white;
}

.footer .footer-bottom{/*very bottom part*/
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  padding-top: 20px;
}
/*footer ends here*/


/*HERE WE ADD SOME CODE FOR THE GALLERY*/
#root {
  width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  /*background-color: rgb(200, 200, 200);*/
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
  
}
#card1{
    border-radius: 20px;
    margin: 10px;
}
/*END OF CODE FOR GALLERY*/


/*CODE FOR  TITLE OF HOMEPAGE*/
.title{/*Title of the homePage*/
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  
}

.title h1{
  color: #f39d1a;
  font-size: 50px;
  text-align: center;
  transition: 0.5s all;
}

.button{
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hbtn{
border: 1px solid #f39d1a;
padding: 10px 30px;
color: white;
text-decoration: none;
background: black;
transition: 0.5s all;
}

.hbtn:hover{
  background-color: #f39d1a ;
 }
/*END OF CODE FOR TITLE HOMEPAGE*/


@media (max-width: 780px) {
        nav > ul{
            display: flex;
            flex-direction: column;
            background-color: black;
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        .title{
          top: 80%;
        }
        .title h1{
          font-size: 24px;
          text-align: center;
        }

        .button{
          display: flex;
          flex-direction: column;
          top:90%;
        }
        
        .main{
          background: wheat;
        }



    }


