*{
  margin: 0;
  padding: 0;
  font-family: verdana;
 
}


.main{
  width: 100%;
  height: 100%;
  background-color: lightblue; /*white*/
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/cocha.jpg) no-repeat;
  background-size: 100% 100%;
  
  
}

.content{/*INSIDE THE WHITE BOX AKA CONTENT*/
  /*MAX WIDTH*/
  margin: auto;
  padding: 150px 150px;/*THIS MIGHR BE THE PROBLEM WITH THE LETTERS. TRY GETTING RID OF THEM*/
  border: 1px solid #555;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  border-radius: 8px;
  font-family: "Montserrat",sans-serif;
  color: white;
  overflow-x: hidden;
}

header{
  background: black;
  height: 80px;
  display: flex;
}

h1{/*TITLE OF CURRENT PAGE*/
  text-align: left;
  color: #f39d1a;
}

img{
  border-radius: 20px;
  margin: auto;
}

#logo{
  flex-grow: 1;
  object-fit: contain;
  object-position: left;
  height: 70px;
}


nav > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: black;
}

nav > ul > li {
  color: white;
  font-family: sans-serif;
  padding: 30px;
  transition: 0.8s all;
}

nav ul li:hover{
  background-color:#f39d1a;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

nav > ul > li:active, .active {
  background-color: #f39d1a;
}

#menu-button {/*hamburger*/
  display: none;
}

/*Footer starts here*/
.footer{
  background: black;/*#303036*/
  color: #d3d3d3;
  height: 400px;
  overflow-x: hidden;
}

.footer .footer-content{/*outside borders of footer*/
  border: 1px solid white;
  height: 350px;
  display: flex;
}

.footer .footer-content h1, 
.footer .footer-content h2{/*Titles of the sections*/
  color: white;
  
}

.footer .footer-content .footer-section{/*lines Between the three sections vertically*/
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .about h1 span{ /*COLOR OF HALF OF THE LOGO*/
  color: #f39d1a;
}

.footer .footer-content .about .contact span{ /*Contact info footer*/
  display: block; 
  font-size: 1.1em;
  margin-bottom: 3px;
}

.footer-section ul{/*middle section (dots)*/
  color: white;
  padding: 20px;
}

.footer-section ul li a{/*letters*/
  color: white;
}

.footer-section ul li{/*separation between links*/
  margin-top: 20px;
}

hr{
  margin-bottom: 20px;
}

.footer .footer-content .contact-form .text-input .contact-input{/*text area from footer*/
  width: 100%;
  margin-top: 20px;

}

.footer .footer-content .contact-form .contact-email {/*email text area*/
  width: 300px;
  height: 20px;
  margin-right: 50%;
}


.footer .footer-content .contact-form .btn-big{/*SEND button*/
  width: 100px;
  
}
textarea{
  height: 150px;
  width: 300px;
}

.footer .footer-content .link a li{/*middle section for quick links*/
  margin-top: 20px;
  color: white;
}

.footer .footer-bottom{/*very bottom part*/
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  padding-top: 20px;
}
/*footer ends here*/


/*HERE WE ADD SOME CODE FOR THE GALLERY*/

.slidershow{/*Size of image*/
  width: 700px;
  height: 400px;
  overflow: hidden;
  
}
.middle{
  /*position: absolute; */
  /*
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  */
  margin: auto;
}
.navigation-pictures{
  display: flex;
  float: left;
  margin-left: 40%;/*THIS HELPED ME MOVE THE IMAGES TO THE MIDDLE -250PX*/

  /*
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  */
}

.bar{/*bar to move to another image*/
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  
}
.bar:hover{
  background:#f39d1a;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

/*Location of images when clicking on bar*/
#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

/*END OF CODE FOR GALLERY*/


/*CODE FOR  TITLE OF HOMEPAGE*/
.title{/*Title of the homePage*/
  /*
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  */
  margin-top: 10%;
  

}

.title h1{
  color: #f39d1a;
  font-size: 50px;
  text-align: center;
  transition: 0.5s all;
}

.button{
  /*
  position: static;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
  margin-top: 5%;
}

.hbtn{
border: 1px solid #f39d1a;
padding: 10px 30px;
color: white;
text-decoration: none;
background: black;
transition: 0.5s all;
}

.hbtn:hover{
  background-color: #f39d1a ;
 }
/*END OF CODE FOR TITLE HOMEPAGE*/


/*START CODE FOR SERVICES PAGE*/
.content .box{
  display: flex;
  justify-content: center;/*we might get rid of the problem of letters if we delete this line and the next one going downwards*/
  flex-wrap: wrap;
  margin-top: 50px;
} 
/*END OF CODE FOR SERVICES PAGE*/


/*JUST ADDED THIS*/
#menu-button {
  display: none;
  padding: 30px;
  align-self: stretch;
  justify-content: center;
}

/*LET'S SEE*/
@media (max-width: 800px) {
  header {
    background-color: black;
    box-sizing: border-box;
    height: 80px;

    box-shadow: 0 -15px 10px 20px gray;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  .title{
    top: 50%;
    
  }
  .title h1{
    font-size: 24px;
    text-align: center;
  }
  
  .button{
    display: flex;
    flex-direction: column;
    top:60%;
    
  }

  #menu-button {
    display: flex;
  }

  nav {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    
  }

  nav.open {
    display: flex;
    
  }

  #first{
    height: 140px;
  }

  nav > ul {
    flex-direction: column;
  }

  nav > ul > li {
    background-color: black;
    border-top: 1px solid white;
    color: white;
  }

  .footer .footer-content .contact-form{/*the "send us a message section*/
    display: none;
  }

  .footer .footer-content .link{/*quick links*/
    display: none;
  }

  .slide img{
      height:40%;
      width: 40%;
  }

  .middle{/*this moves the slides to the middle */
    float: left;
    margin-left: -210px;/*THIS HELPED ME MOVE THE IMAGES TO THE MIDDLE -250PX*/
    margin-bottom: 0;
  }


  .navigation-pictures{/*navigation buttons for the slides*/
    
    margin-top: -200px;
    float: left;
    margin-left: -20%;/*THIS HELPED ME MOVE THE IMAGES TO THE MIDDLE -250PX*/
    
  }

  .content{
    padding: 150px 100px;
  }
  


    }/*END OF MEDIA*/


