*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}


.main{
  width: 100%;
  height: 100vh;
  background-color: lightblue; /*white*/
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/cocha.jpg) no-repeat;
  background-size: 100% 100%;
  
  
}

.content{/*INSIDE THE WHITE BOX AKA CONTENT*/
  max-width: 900px;
  margin: auto;
  padding: 150px 150px;
  border: 1px solid #555;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  border-radius: 8px;
  font-family: "Montserrat",sans-serif;
  color: white;
}

header{
  background: black;
  height: 80px;
  display: flex;
}

h1{/*TITLE OF CURRENT PAGE*/
  text-align: left;
  color: #f39d1a;
}

img{
  border-radius: 20px;
  margin: auto;
}

#logo{
  flex-grow: 1;
  object-fit: contain;
  object-position: left;
  height: 70px;
}


nav > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: black;
}

nav > ul > li {
  color: white;
  font-family: sans-serif;
  padding: 30px;
  transition: 0.8s all;
}

nav ul li:hover{
  background-color:#f39d1a;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

nav > ul > li:active, .active {
  background-color: #f39d1a;
}

#menu-button {
  display: none;
}

/*Footer starts here*/
.footer{
  background: black;/*#303036*/
  color: #d3d3d3;
  height: 400px;
  position: relative;
  
}

.footer .footer-content{/*outside borders of footer*/
  border: 1px solid white;
  height: 350px;
  display: flex;
}

.footer .footer-content h1, 
.footer .footer-content h2{/*Titles of the sections*/
  color: white;
  
}

.footer .footer-content .footer-section{/*lines Between the three sections vertically*/
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .about h1 span{ /*COLOR OF HALF OF THE LOGO*/
  color: #f39d1a;
}

.footer .footer-content .about .contact span{ /*Contact info footer*/
  display: block; 
  font-size: 1.1em;
  margin-bottom: 3px;
  

}

.footer-section ul{/*middle section (dots)*/
  color: white;
  padding: 20px;
}

.footer-section ul li a{/*letters*/
  color: white;
}

.footer-section ul li{/*separation between links*/
  margin-top: 20px;
}

hr{
  margin-bottom: 20px;
}

.footer .footer-content .contact-form .text-input .contact-input{/*text area from footer*/
  width: 100%;
  margin-top: 20px;

}

.footer .footer-content .contact-form .contact-email {/*email text area*/
  width: 300px;
  height: 20px;
  margin-right: 50%;
}


.footer .footer-content .contact-form .btn-big{/*SEND button*/
  width: 100px;
  
}
textarea{
  height: 150px;
  width: 300px;
}

.footer .footer-content .link a li{/*middle section for quick links*/
  margin-top: 20px;
  color: white;
}

.footer .footer-bottom{/*very bottom part*/
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  padding-top: 20px;
}
/*footer ends here*/


/*HERE WE ADD SOME CODE FOR THE GALLERY*/
#root {
  width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  /*background-color: rgb(200, 200, 200);*/
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
  
}
#card1{
    border-radius: 20px;
    margin: 10px;
}
/*END OF CODE FOR GALLERY*/


/*CODE FOR  TITLE OF HOMEPAGE*/
.title{/*Title of the homePage*/
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  
}

.title h1{
  color: #f39d1a;
  font-size: 50px;
  text-align: center;
  transition: 0.5s all;
}

.button{
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hbtn{
border: 1px solid #f39d1a;
padding: 10px 30px;
color: white;
text-decoration: none;
background: black;
transition: 0.5s all;
}

.hbtn:hover{
  background-color: #f39d1a ;
 }
/*END OF CODE FOR TITLE HOMEPAGE*/


/*START CODE FOR SERVICES PAGE*/

.content .box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  
  
}
.container{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .box{
  position: relative;
  width: 300px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.content .box:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff226d;
  transform: scaleY(0);
  transform-origin: top;
  transition: ease-in;
}

/*END OF CODE FOR SERVICES PAGE*/


/*JUST ADDED THIS*/
#menu-button {
  display: none;
  padding: 30px;
  align-self: stretch;

  align-items: right;
  justify-content: center;
}
/*LET'S SEE*/

@media (max-width: 1020px) {
  header {
    background-color: black;
    box-sizing: border-box;
    height: 80px;

    box-shadow: 0 -15px 10px 20px gray;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  .title{
    top: 50%;
  }
  .title h1{
    font-size: 24px;
    text-align: center;
  }
  
  .button{
    display: flex;
    flex-direction: column;
    top:60%;
    
  }

  #menu-button {
    display: flex;
  }

  nav {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
  }

  nav.open {
    display: flex;
    
  }

  #first{
    height: 140px;
  }

  nav > ul {
    flex-direction: column;
  }

  nav > ul > li {
    background-color: black;
    border-top: 1px solid white;
    color: white;
  }


    }/*END OF MEDIA*/


