/*THIS IS THE CSS FOR ABOUT PAGE*/
h1{
    color: #111;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    text-align: center;  
}

.content{
    max-width: 800px;
    margin: auto;
    font-size: 24px;
    background: white;
    border: 1px solid #555;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {/*This moves the position of the menu*/
    float: left;
  }
  
  li a {/*This are the letters within the menu*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
body{
    background: #3390FF;
}