*{
    margin: 0;
    padding: 0;
    font-family: verdana;
  }
  
  
  .main{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    background: url(cocha.jpg) no-repeat;
    background-size: 100% 100%;
  }
  
  .content{
    max-width: 900px;
    margin: auto;
    font-size: 24px;
    background: white;
    border: 1px solid #555;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    border-radius: 8px;
  }
  
  nav{
    width: 100%;
    height: 80px;
    background-color: #000;
    position: static;
    line-height: 80px;
  }
  
  nav ul{
    float: right;
    margin-right: 30px;
  }
  
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
  }
  
  nav ul li:hover{
    background-color:#f39d1a;
  }
  
  nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }
  
  /*Footer starts here*/
.footer{
  background: black;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content{/*outside borders of footer*/
  border: 1px solid white;
  height: 350px;
  display: flex;
}

.footer .footer-content h1, 
.footer .footer-content h2{/*Titles of the sections*/
  color: white;
  
}

.footer .footer-content .footer-section{/*lines Between the three sections vertically*/
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .about h1 span{ /*COLOR OF HALF OF THE LOGO*/
  color: #f39d1a;
}

.footer .footer-content .about .contact span{ /*Contact info footer*/
  display: block; 
  font-size: 1.1em;
  margin-bottom: 3px;
  

}
.footer .footer-content .contact-form textarea{/*text area from footer*/
  margin-top: 10px

}

textarea{
  height: 150px;
  width: 200px;
}

.footer .footer-content .link a li{/*middle section for quick links*/
  margin-top: 20px;
  color: white;
}

.footer .footer-bottom{
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
/*footer ends here*/
  
  