*{
  margin: 0;
  padding: 0;
  font-family: verdana;
}


.main{
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  background: url(cocha.jpg) no-repeat;
  background-size: 100% 100%;
}

.content{/*INSIDE THE WHITE BOX*/
  max-width: 900px;
  margin: auto;
  font-size: 24px;
  background: white;
  border: 1px solid #555;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  border-radius: 8px;
  
 
  
}

nav{
  width: 100%;
  height: 80px;
  background-color: #000;
  position: static;
  line-height: 80px;
}

nav ul{
  float: right;
  margin-right: 30px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.8s all;
}

nav ul li:hover{
  background-color:#f39d1a;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}



